body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

nav > ul {
    list-style-type: none;
    text-align: left;
}

nav > ul > li {
    display: inline-block;
    margin-left: 5px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #000;
}

/* Classes */
.warning {
    color: red;
    font-size: small;
    position: fixed;
    bottom: 5px;
}

.footer {
    font-size: small;
    position: fixed;
    bottom: 2px;
}

.title {
    font-weight: 500;
}

.gray-bg {
    background-color: rgba(128, 128, 128, 0.301);
    padding: 1px;
    border-radius: 5px;
}

.contact-field {
    margin-bottom: 5px;
}

.contact-list {
    list-style: none;
}

.dark {
    background-color: black;
    color: white;
}

.dark>nav > ul > li > a {
    text-decoration: none;
    color: white;
}

.dark>.style-button {
    border: 0;
    background-color: transparent;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.style-button {
    border: 0;
    background-color: transparent;
    color: black;
    position: fixed;
    bottom: 5px;
    right: 5px;
    transition: color 0.5s;
}